{% if skill.name == "Forme sauvage" %}
    <table class="classe-skill-druide-table">
        <thead class="classe-skill-druide-thead">
            <tr class="classe-skill-druide-tr">
                <th class="classe-skill-druide-th">Niv</th>
                <th class="classe-skill-druide-th">FP max</th>
                <th class="classe-skill-druide-th">Restrictions</th>
                <th class="classe-skill-druide-th">Exemple</th>
            </tr>
        </thead>
        <tbody class="classe-skill-druide-tbody">
            <tr class="classe-skill-druide-tr">
                <td class="classe-skill-druide-td">2</td>
                <td class="classe-skill-druide-td">1/4</td>
                <td class="classe-skill-druide-td">Pas de vitesse de vol ni de nage</td>
                <td class="classe-skill-druide-td">Loup</td>
            </tr>
            <tr class="classe-skill-druide-tr">
                <td class="classe-skill-druide-td">4</td>
                <td class="classe-skill-druide-td">1/2</td>
                <td class="classe-skill-druide-td">Pas de vitesse de vol</td>
                <td class="classe-skill-druide-td">Crocodile</td>
            </tr>
            <tr class="classe-skill-druide-tr">
                <td class="classe-skill-druide-td">8</td>
                <td class="classe-skill-druide-td">1</td>
                <td class="classe-skill-druide-td">-</td>
                <td class="classe-skill-druide-td">Aigle géant</td>
            </tr>
        </tbody>
    </table>
{% endif %}