{% extends 'base.html.twig' %}

{% block title %}Edit SkillTable{% endblock %}

{% block body %}
    <h1>Edit SkillTable</h1>

    {{ include('bo/skill_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_skill_table_index') }}">back to list</a>

    {{ include('bo/skill_table/_delete_form.html.twig') }}
{% endblock %}
