{% extends 'base.html.twig' %}

{% block title %}Edit StatBlockAction{% endblock %}

{% block body %}
    <h1>Edit StatBlockAction</h1>

    {{ include('bo/sb/stat_block_action/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stat_block_index') }}">back to list</a>

    {{ include('bo/sb/stat_block_action/_delete_form.html.twig') }}
{% endblock %}
