{% extends 'base.html.twig' %}

{% block title %}StatBlockAction index{% endblock %}

{% block body %}
    <h1>StatBlockAction index</h1>
    <a href="{{ path('app_stat_block_action_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stat_block_action in stat_block_actions %}
            <tr>
                <td>{{ stat_block_action.id }}</td>
                <td>
                    <a href="{{ path('app_stat_block_action_edit', {'id': stat_block_action.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
