{% extends 'base.html.twig' %}

{% block title %}Listes des sorts de la classe {{ classe }}{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('assets/css/spell/lists.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'spell-list-classe' %}

{% block main %}

    <h1>Listes des sorts de la classe {{ classe }}</h1>
    
    {% include 'client/spell/construct/_liste-by-level.html.twig' %}

{% endblock %}