{% extends 'base.html.twig' %}

{% block title %}Listes des sorts par école{% endblock %}

{% block body_id 'spell-list-school' %}

{% block main %}

    <h1>Listes des sorts par école</h1>

    {% include 'client/spell/construct/listes/_schools.html.twig' %}
   
{% endblock %}