{% extends 'base.html.twig' %}

{% block title %}New SpecialtyItem{% endblock %}

{% block body %}
    <h1>Create new SpecialtyItem</h1>

    {{ include('specialty_item/_form.html.twig') }}

    <a href="{{ path('app_specialty_item_index') }}">back to list</a>
{% endblock %}
