{% extends 'base.html.twig' %}

{% block title %}Edit SpellList{% endblock %}

{% block body %}
    <h1>Edit SpellList</h1>

    {{ include('bo/spells/spell_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_spell_index') }}">back to list</a>

    {{ include('bo/spells/spell_list/_delete_form.html.twig') }}
{% endblock %}
