<div class="spells-checkboxs" id="check">
    <p>Affichage</p>
    <div class="spells-checkbox-div">
        <input type="checkbox" onChange="showSearch(this, 'search-vo-div')" id="vo" name="check"/>
        <label for="vo">Nom VO</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" id="school" name="check" checked/>
        <label for="school">École</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" id="spelling" name="check" checked/>
        <label for="spelling">Incantation</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" id="range" name="check" checked/>
        <label for="range">Portée</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" id="concentration" name="check" checked/>
        <label for="concentration">Concentration</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" id="ritual" name="check" checked/>
        <label for="ritual">Rituel</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" onChange="showSearch(this, 'search-descr-div')" id="descr" name="check"/>
        <label for="descr">Description</label>
    </div>
    <div class="spells-checkbox-div">
        <input type="checkbox" id="source" name="check" checked/>
        <label for="source">Source</label>
    </div>
</div>