{% extends 'base.html.twig' %}

{% block title %}Edit TalentTable{% endblock %}

{% block body %}
    <h1>Edit TalentTable</h1>

    {{ include('bo/talents/talent_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_talent_table_index') }}">back to list</a>

    {{ include('bo/talents/talent_table/_delete_form.html.twig') }}
{% endblock %}
