{% extends 'base.html.twig' %}

{% block title %}Incantation index{% endblock %}

{% block body %}
    <h1>Incantation index</h1>
    <a href="{{ path('app_incantation_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incantation in incantations %}
            <tr>
                <td>{{ incantation.id }}</td>
                <td>{{ incantation.descr }}</td>
                <td>
                    <a href="{{ path('app_incantation_edit', {'id': incantation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
