{% extends 'base.html.twig' %}

{% block title %}Edit Subrace{% endblock %}

{% block body %}
    <h1>Edit Subrace</h1>

    {{ include('bo/races/subrace/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_subrace_index') }}">back to list</a>

    {{ include('bo/races/subrace/_delete_form.html.twig') }}
{% endblock %}
