{% extends 'base.html.twig' %}

{% block title %}New StatBlockReaction{% endblock %}

{% block body %}
    <h1>Create new StatBlockReaction</h1>

    {{ include('bo/sb/sb_reaction/_form.html.twig') }}

    <a href="{{ path('app_sb') }}">back to list</a>
{% endblock %}
