<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Sorts de domaine</h4>
    <p class="classe-skill-descr">
        Chaque domaine possède une liste de sorts, les sorts de domaine, que vous gagnez au niveau de clerc indiqué dans la description du domaine. Une 
        fois que vous gagnez un sort de domaine, il est toujours préparé, et ne compte pas dans le nombre de sorts que vous pouvez préparer chaque jour. 
        Si vous gagnez un sort de domaine qui ne figure pas sur la liste de sorts de clerc, le sort est néanmoins un sort de clerc pour vous.
    </p>
</div>