<table class="classe-skill-undead-table">
    <thead class="classe-skill-undead-thead">
        <tr class="classe-skill-undead-tr">
            <th class="classe-skill-undead-th">Niveau de clerc</th>
            <th class="classe-skill-undead-th">FP des morts-vivants détruits</th>
        </tr>
    </thead>
    <tbody class="classe-skill-undead-tbody">
        <tr class="classe-skill-undead-tr">
            <td class="classe-skill-undead-td">5</td>
            <td class="classe-skill-undead-td">1/2 ou moins</td>
        </tr>
        <tr class="classe-skill-undead-tr">
            <td class="classe-skill-undead-td">8</td>
            <td class="classe-skill-undead-td">1 ou moins</td>
        </tr>
        <tr class="classe-skill-undead-tr">
            <td class="classe-skill-undead-td">11</td>
            <td class="classe-skill-undead-td">2 ou moins</td>
        </tr>
        <tr class="classe-skill-undead-tr">
            <td class="classe-skill-undead-td">14</td>
            <td class="classe-skill-undead-td">3 ou moins</td>
        </tr>
        <tr class="classe-skill-undead-tr">
            <td class="classe-skill-undead-td">17</td>
            <td class="classe-skill-undead-td">4 ou moins</td>
        </tr>
    </tbody>
</table>