{% extends 'base.html.twig' %}

{% block title %}New StatBlockAction{% endblock %}

{% block body %}
    <h1>Create new StatBlockAction</h1>

    {{ include('bo/sb/sb_action/_form.html.twig') }}

    <a href="{{ path('app_sb') }}">back to list</a>
{% endblock %}
