{% extends 'base.html.twig' %}

{% block title %}SpecialtySkillTable index{% endblock %}

{% block body %}
    <h1>SpecialtySkillTable index</h1>
    <a href="{{ path('app_specialty_skill_table_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialty_skill_table in specialty_skill_tables %}
            <tr>
                <td>{{ specialty_skill_table.id }}</td>
                <td>{{ specialty_skill_table.name }}</td>
                <td>
                    <a href="{{ path('app_specialty_skill_table_edit', {'id': specialty_skill_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
