<form method="post" action="{{ path('app_specialty_item_table_delete', {'id': specialty_item_table.id, 'slug': specialty.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialty_item_table.id) }}">
    <button class="btn">Delete</button>
</form>
