{% extends 'base.html.twig' %}

{% block title %}SpecialtyItemTable index{% endblock %}

{% block body %}
    <h1>SpecialtyItemTable index</h1>
    <a href="{{ path('app_specialty_item_table_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialty_item_table in specialty_item_tables %}
            <tr>
                <td>{{ specialty_item_table.id }}</td>
                <td>{{ specialty_item_table.name }}</td>
                <td>
                    <a href="{{ path('app_specialty_item_table_edit', {'id': specialty_item_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
