{% extends 'base.html.twig' %}

{% block title %}Listes des sorts{% endblock %}

{% block body_id 'spell-list' %}

{% block main %}

    <h1>Listes des sorts</h1>

    <h2><a href="{{ path('app_view_spell_all') }}">Tous les sorts</a></h2>

    <h2>Liste des sorts par niveau</h2>
    {% include 'client/spell/construct/listes/_levels.html.twig' %}

    <h2>Liste des sorts par classe</h2>
    {% include 'client/spell/construct/listes/_classes.html.twig' %}
    
    <h2>Liste des sorts par école</h2>
    {% include 'client/spell/construct/listes/_schools.html.twig' %}
   
{% endblock %}
