{% extends 'base.html.twig' %}

{% block title %}New DomainSpellTable{% endblock %}

{% block body %}
    <h1>Create new DomainSpellTable</h1>

    {{ include('bo/specialties/domain_spell_table/_form.html.twig') }}

    <a href="{{ path('app_classe_index') }}">back to list</a>
{% endblock %}
