<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Conduit divin : renvoi des morts-vivants</h4>
    <p class="classe-skill-descr">
        Au prix d'une action, vous présentez votre symbole sacré en psalmodiant une prière contre les morts-vivants. Chaque mort-vivant qui peut vous 
        voir ou vous entendre et qui se trouve à 9 mètres ou moins de vous doit effectuer un jet de sauvegarde de Sagesse. Si la créature rate son jet de 
        sauvegarde, elle est renvoyée pendant 1 minute ou jusqu'à ce qu'elle prenne des dégâts.
    </p>
    <p class="classe-skill-descr">
        Une créature renvoyée doit passer ses actions à essayer de s'éloigner le plus loin possible de vous et ne peut volontairement se rapprocher à 9 
        mètres ou moins de vous. Elle ne peut pas utiliser de réactions et peut utiliser ses actions seulement pour Foncer ou essayer de s'échapper d'un 
        effet immobilisant. S'il n'y a nulle part où aller, la créature peut utiliser l'action Esquiver.
    </p>
</div>