<table class="classe-skill-clerc-table">
    <thead class="classe-skill-clerc-thead">
        <tr class="classe-skill-clerc-tr">
            <th class="classe-skill-clerc-th">Niveau de clerc</th>
            <th class="classe-skill-clerc-th">FP des morts-vivants détruits</th>
        </tr>
    </thead>
    <tbody class="classe-skill-clerc-tbody">
        <tr class="classe-skill-clerc-tr">
            <td class="classe-skill-clerc-td">5</td>
            <td class="classe-skill-clerc-td">1/2 ou moins</td>
        </tr>
        <tr class="classe-skill-clerc-tr">
            <td class="classe-skill-clerc-td">8</td>
            <td class="classe-skill-clerc-td">1 ou moins</td>
        </tr>
        <tr class="classe-skill-clerc-tr">
            <td class="classe-skill-clerc-td">11</td>
            <td class="classe-skill-clerc-td">2 ou moins</td>
        </tr>
        <tr class="classe-skill-clerc-tr">
            <td class="classe-skill-clerc-td">14</td>
            <td class="classe-skill-clerc-td">3 ou moins</td>
        </tr>
        <tr class="classe-skill-clerc-tr">
            <td class="classe-skill-clerc-td">17</td>
            <td class="classe-skill-clerc-td">4 ou moins</td>
        </tr>
    </tbody>
</table>