<form method="post" action="{{ path('app_subrace_delete', {'id': subrace.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subrace.id) }}">
    <button class="btn">Delete</button>
</form>
