{% extends 'base.html.twig' %}

{% block title %}SkillTable index{% endblock %}

{% block body %}
    <h1>SkillTable index</h1>
    <a href="{{ path('app_skill_table_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill_table in skill_tables %}
            <tr>
                <td>{{ skill_table.id }}</td>
                <td>{{ skill_table.name }}</td>
                <td>
                    <a href="{{ path('app_skill_table_edit', {'id': skill_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="28">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
