{% extends 'base.html.twig' %}

{% block title %}New SkillTable{% endblock %}

{% block body %}
    <h1>Create new SkillTable</h1>

    {{ include('bo/skills/skill_table/_form.html.twig') }}

    <a href="{{ path('app_classe_index') }}">back to list</a>
{% endblock %}
