<p class="class-skill-descr">
    Vous avez appris à démêler et remodeler le tissu de la réalité en harmonie avec vos souhaits et vos rêves. Vos sorts font partie intégrante de 
    votre vaste répertoire, une magie que vous pouvez accorder à différentes situations.
</p>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Sorts mineurs</h4>
    <p class="class-skill-descr">
        Vous connaissez deux sorts mineurs de barde de votre choix. Vous apprendrez des sorts mineurs supplémentaires de votre choix aux niveaux 
        supérieurs, comme indiqué dans la colonne Sorts mineurs connus de la table ci-dessus.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Emplacements de sorts</h4>
    <p class="class-skill-descr">
        La table du barde montre combien d'emplacements de sorts vous avez pour lancer vos sorts de barde de niveau 1 et supérieur. Pour lancer un de ces 
        sorts, vous devez dépenser un emplacement du niveau du sort ou supérieur. Vous regagnez tous les emplacements de sorts dépensés lorsque vous 
        terminez un repos long.
    </p>
    <p class="class-skill-descr">
        Par exemple, si vous connaissez le sort de niveau 1 soins et qu'il vous reste un emplacement de niveau 1 et un emplacement de niveau 2, vous 
        pouvez lancer deux fois ce sort.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Sorts connus de niveau 1 et supérieur</h4>
    <p class="class-skill-descr">
        Vous connaissez quatre sorts de niveau 1, à choisir dans la liste des sorts de barde. La colonne Sorts connus de la table ci-dessus indique les 
        niveaux auxquels vous apprenez de nouveaux sorts de barde de votre choix. Chacun de ces sorts doit être d'un niveau pour lequel vous possédez un 
        emplacement de sort, comme indiqué dans la table. Par exemple, lorsque vous atteignez le niveau 3 de cette classe, vous pouvez apprendre un 
        nouveau sort de niveau 1 ou 2. En outre, lorsque vous gagnez un niveau dans cette classe, vous pouvez choisir un sort de barde que vous connaissez 
        et le remplacer par un autre sort choisi dans la liste de sorts de barde, celui-ci devant également être d'un niveau pour lequel vous possédez un 
        emplacement de sort.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Caractéristique d'incantation</h4>
    <p class="class-skill-descr">
        Le Charisme est votre caractéristique d'incantation pour vos sorts de barde, car le pouvoir de votre magie vient du cœur et de l'âme que vous 
        mettez lorsque jouez d'un instrument ou lors de vos oraisons. Vous utilisez votre Charisme chaque fois qu'un sort se réfère à votre capacité de 
        lancer des sorts. En outre, vous utilisez votre modificateur de Charisme pour définir le DD du jet de sauvegarde d'un sort de barde que vous 
        lancez, ainsi que pour le jet d'attaque de celui-ci.
    </p>
    <p class="classe-skill-DD-spell-save"><b>DD de sauvegarde des sorts</b> = 8 + votre bonus de maîtrise + votre modificateur de Charisme</p>
    <p class="classe-skill-DD-spell-save"><b>Modificateur aux attaques avec un sort</b> = votre bonus de maîtrise + votre modificateur de Charisme</p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Rituel</h4>
    <p class="class-skill-descr">
        Vous pouvez lancer n'importe quel sort de barde que vous connaissez comme un rituel si celui-ci possède l'étiquette rituel.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Focaliseur d'incantation</h4>
    <p class="class-skill-descr">
        Vous pouvez utiliser un instrument de musique comme focaliseur d'incantation pour vos sorts de barde.
    </p>
</div>