<p class="class-skill-descr">
    En tant que conduit de la puissance divine, vous pouvez lancer des sorts de clerc.
</p>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Sorts mineurs</h4>
    <p class="class-skill-descr">
        Au niveau 1, vous connaissez trois sorts mineurs de clerc de votre choix. Vous apprendrez des sorts mineurs supplémentaires de votre choix aux 
        niveaux supérieurs, comme indiqué dans la colonne Sorts mineurs connus de la table ci-dessus.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Préparer et lancer des sorts</h4>
    <p class="class-skill-descr">
        La table du clerc montre combien d'emplacements de sorts vous avez pour lancer vos sorts de clerc de niveau 1 et supérieur. Pour lancer un de ces 
        sorts, vous devez dépenser un emplacement du niveau du sort ou supérieur. Vous regagnez tous les emplacements de sorts dépensés lorsque vous 
        terminez un repos long.
    </p>
    <p class="class-skill-descr">
        Vous devez préparer la liste des sorts de clerc qui vous sont disponibles pour les lancer. Pour ce faire, choisissez un nombre de sorts de clerc 
        égal à votre modificateur de Sagesse + votre niveau de clerc (minimum un sort). Les sorts doivent être d'un niveau pour lequel vous avez des 
        emplacements de sorts. Par exemple, si vous êtes un clerc de niveau 3, vous avez suivant la table quatre emplacements de sorts de niveaux 1 et 
        deux emplacements de sorts de niveau 2. Avec une Sagesse de 16, votre liste de sorts préparés peut inclure six sorts de niveau 1 et 2, selon 
        n'importe quelle combinaison. Si vous préparez le sort de niveau 1 soins, vous pouvez le lancer en utilisant un emplacement de niveau 1 ou de 
        niveau 2. Lancer le sort ne le supprime pas de votre liste de sorts préparés.
    </p>
    <p class="class-skill-descr">
        Vous pouvez modifier votre liste de sorts préparés lorsque vous terminez un repos long. Préparer une nouvelle liste de sorts de clerc nécessite 
        du temps pour prier et méditer : au moins 1 minute par niveau de sort pour chaque sort sur votre liste.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Caractéristique d'incantation</h4>
    <p class="class-skill-descr">
        La Sagesse est votre caractéristique d'incantation pour vos sorts de clerc. La puissance de vos sorts vient de votre dévotion à votre dieu. Vous 
        utilisez votre Sagesse chaque fois qu'un sort se réfère à votre capacité de lancer des sorts. En outre, vous utilisez votre modificateur de 
        Sagesse pour définir le DD du jet de sauvegarde d'un sort de clerc que vous lancez ainsi que pour le jet d'attaque de celui-ci.
    </p>
    <p class="classe-skill-DD-spell-save"><b>DD de sauvegarde des sorts</b> = 8 + votre bonus de maîtrise + votre modificateur de Sagesse</p>
    <p class="classe-skill-DD-spell-save"><b>Modificateur aux attaques avec un sort</b> = votre bonus de maîtrise + votre modificateur de Sagesse</p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Rituel</h4>
    <p class="class-skill-descr">
        Vous pouvez lancer un sort de clerc en tant que rituel si ce sort possède l'étiquette rituel et si vous avez préparé le sort.
    </p>
</div>
<div class="classe-skill-subdiv">
    <h4 class="classe-skill-subtitle">Focaliseur d'incantation</h4>
    <p class="class-skill-descr">
        Vous pouvez utiliser un symbole sacré comme focaliseur d'incantation pour vos sorts de clerc.
    </p>
</div>