<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="body" id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                {{ render(controller('App\\Controller\\NavController::nav', { 'route': app.request.attributes.get('_route') })) }}
            </header>
        {% endblock %}

        {% block body %}
            <main>{% block main %}{% endblock %}</main>
        {% endblock %}
    </body>
</html>
