{% extends 'base.html.twig' %}

{% block title %}Edit SpecialtySkill{% endblock %}

{% block body %}
    <h1>Edit SpecialtySkill</h1>

    {{ include('bo/specialty_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_specialty_skill_index') }}">back to list</a>

    {{ include('bo/specialty_skill/_delete_form.html.twig') }}
{% endblock %}
