{% extends 'base.html.twig' %}

{% block title %}New SpecialtySkill{% endblock %}

{% block body %}
    <h1>Create new SpecialtySkill</h1>

    {{ include('bo/specialties/specialty_skill/_form.html.twig') }}

    <a href="{{ path('app_classe_index') }}">back to list</a>
{% endblock %}
