<form method="post" action="{{ path('app_incantation_delete', {'id': incantation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incantation.id) }}">
    <button class="btn">Delete</button>
</form>
