{% extends 'base.html.twig' %}

{% block title %}Edit SpellTable{% endblock %}

{% block body %}
    <h1>Edit SpellTable</h1>

    {{ include('bo/spells/spell_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_spell_index') }}">back to list</a>

    {{ include('bo/spells/spell_table/_delete_form.html.twig') }}
{% endblock %}
