{% extends 'base.html.twig' %}

{% block title %}Edit ActionPartMonster{% endblock %}

{% block body %}
    <h1>Edit ActionPartMonster</h1>

    {{ include('bo/sb/sb_action_part/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sb') }}">back to list</a>

    {{ include('bo/sb/sb_action_part/_delete_form.html.twig') }}
{% endblock %}