<table class="race-dragonborn-chromatic-table">
    <thead class="race-dragonborn-chromatic-thead">
        <tr class="race-dragonborn-chromatic-tr">
            <th class="race-dragonborn-chromatic-th" colspan="2">Ancêtre chromatique</th>
        </tr>
        <tr class="race-dragonborn-chromatic-tr">
            <th class="race-dragonborn-chromatic-th">Couleur de dragon</th>
            <th class="race-dragonborn-chromatic-th">Type de dégâts</th>
        </tr>
    </thead>
    <tbody class="race-dragonborn-chromatic-tbody">
        <tr class="race-dragonborn-chromatic-tr">
            <td class="race-dragonborn-chromatic-td">Noir</td>
            <td class="race-dragonborn-chromatic-td">Acide</td>
        </tr>
        <tr class="race-dragonborn-chromatic-tr">
            <td class="race-dragonborn-chromatic-td">Bleu</td>
            <td class="race-dragonborn-chromatic-td">Foudre</td>
        </tr>
        <tr class="race-dragonborn-chromatic-tr">
            <td class="race-dragonborn-chromatic-td">Vert</td>
            <td class="race-dragonborn-chromatic-td">Poison</td>
        </tr>
        <tr class="race-dragonborn-chromatic-tr">
            <td class="race-dragonborn-chromatic-td">Rouge</td>
            <td class="race-dragonborn-chromatic-td">Feu</td>
        </tr>
        <tr class="race-dragonborn-chromatic-tr">
            <td class="race-dragonborn-chromatic-td">Blanc</td>
            <td class="race-dragonborn-chromatic-td">Froid</td>
        </tr>
    </tbody>
</table>