<table class="race-dragonborn-table">
    <thead class="race-dragonborn-thead">
        <tr class="race-dragonborn-tr">
            <th class="race-drgaonborn-th">Couleur du dragon</th>
            <th class="race-drgaonborn-th">Type de dégâts</th>
            <th class="race-drgaonborn-th">Souffle</th>
        </tr>
    </thead>
    <tbody class="race-dragonborn-tbody">
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Noir</td>
            <td class="race-dragonborn-td">Acide</td>
            <td class="race-dragonborn-td">Ligne de 9 mètres (30 feet) sur 1,50 mètres (5 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Bleu</td>
            <td class="race-dragonborn-td">Foudre</td>
            <td class="race-dragonborn-td">Ligne de 9 mètres (30 feet) sur 1,50 mètres (5 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Laiton</td>
            <td class="race-dragonborn-td">Feu</td>
            <td class="race-dragonborn-td">Ligne de 9 mètres (30 feet) sur 1,50 mètres (5 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Bronze</td>
            <td class="race-dragonborn-td">Foudre</td>
            <td class="race-dragonborn-td">Ligne de 9 mètres (30 feet) sur 1,50 mètres (5 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Cuivre</td>
            <td class="race-dragonborn-td">Acide</td>
            <td class="race-dragonborn-td">Ligne de 9 mètres (30 feet) sur 1,50 mètres (5 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Or</td>
            <td class="race-dragonborn-td">Feu</td>
            <td class="race-dragonborn-td">Cône de 4,50 mètres (15 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Vert</td>
            <td class="race-dragonborn-td">Poison</td>
            <td class="race-dragonborn-td">Cône de 4,50 mètres (15 feet) (sauvegarde CON)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Rouge</td>
            <td class="race-dragonborn-td">Feu</td>
            <td class="race-dragonborn-td">Cône de 4,50 mètres (15 feet) (sauvegarde DEX)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Argent</td>
            <td class="race-dragonborn-td">Froid</td>
            <td class="race-dragonborn-td">Cône de 4,50 mètres (15 feet) (sauvegarde CON)</td>
        </tr>
        <tr class="race-dragonborn-tr">
            <td class="race-dragonborn-td">Blanc</td>
            <td class="race-dragonborn-td">Froid</td>
            <td class="race-dragonborn-td">Cône de 4,50 mètres (15 feet) (sauvegarde CON)</td>
        </tr>
    </tbody>
</table>