<table class="race-dragonborn-gem-table">
    <thead class="race-dragonborn-gem-thead">
        <tr class="race-dragonborn-gem-tr">
            <th class="race-dragonborn-gem-th" colspan="2">Ancêtre de gemme</th>
        </tr>
        <tr class="race-dragonborn-gem-tr">
            <th class="race-dragonborn-gem-th">Couleur de dragon</th>
            <th class="race-dragonborn-gem-th">Type de dégâts</th>
        </tr>
    </thead>
    <tbody class="race-dragonborn-gem-tbody">
        <tr class="race-dragonborn-gem-tr">
            <td class="race-dragonborn-gem-td">Améthyste</td>
            <td class="race-dragonborn-gem-td">Force</td>
        </tr>
        <tr class="race-dragonborn-gem-tr">
            <td class="race-dragonborn-gem-td">Cristal</td>
            <td class="race-dragonborn-gem-td">Radiant</td>
        </tr>
        <tr class="race-dragonborn-gem-tr">
            <td class="race-dragonborn-gem-td">Émeraude</td>
            <td class="race-dragonborn-gem-td">Psychique</td>
        </tr>
        <tr class="race-dragonborn-gem-tr">
            <td class="race-dragonborn-gem-td">Saphir</td>
            <td class="race-dragonborn-gem-td">Tonnerre</td>
        </tr>
        <tr class="race-dragonborn-gem-tr">
            <td class="race-dragonborn-gem-td">Topaze</td>
            <td class="race-dragonborn-gem-td">Nécrotique</td>
        </tr>
    </tbody>
</table>