<table class="race-dragonborn-metallic-table">
    <thead class="race-dragonborn-metallic-thead">
        <tr class="race-dragonborn-metallic-tr">
            <th class="race-dragonborn-metallic-th" colspan="2">Ancêtre chromatique</th>
        </tr>
        <tr class="race-dragonborn-metallic-tr">
            <th class="race-dragonborn-metallic-th">Couleur de dragon</th>
            <th class="race-dragonborn-metallic-th">Type de dégâts</th>
        </tr>
    </thead>
    <tbody class="race-dragonborn-metallic-tbody">
        <tr class="race-dragonborn-metallic-tr">
            <td class="race-dragonborn-metallic-td">Laiton</td>
            <td class="race-dragonborn-metallic-td">Feu</td>
        </tr>
        <tr class="race-dragonborn-metallic-tr">
            <td class="race-dragonborn-metallic-td">Bronze</td>
            <td class="race-dragonborn-metallic-td">Foudre</td>
        </tr>
        <tr class="race-dragonborn-metallic-tr">
            <td class="race-dragonborn-metallic-td">Cuivre</td>
            <td class="race-dragonborn-metallic-td">Acide</td>
        </tr>
        <tr class="race-dragonborn-metallic-tr">
            <td class="race-dragonborn-metallic-td">Or</td>
            <td class="race-dragonborn-metallic-td">Feu</td>
        </tr>
        <tr class="race-dragonborn-metallic-tr">
            <td class="race-dragonborn-metallic-td">Argent</td>
            <td class="race-dragonborn-metallic-td">Froid</td>
        </tr>
    </tbody>
</table>