{% extends 'base.html.twig' %}

{% block title %}Edit SpecialtySkillTable{% endblock %}

{% block body %}
    <h1>Edit SpecialtySkillTable</h1>

    {{ include('bo/specialty_skill_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_specialty_skill_table_index') }}">back to list</a>

    {{ include('bo/specialty_skill_table/_delete_form.html.twig') }}
{% endblock %}
