{% extends 'base.html.twig' %}

{% block title %}New SourceRace{% endblock %}

{% block body %}
    <h1>Create new SourceRace</h1>

    {{ include('bo/races/source_race/_form.html.twig') }}

    <a href="{{ path('app_source_race_index') }}">back to list</a>
{% endblock %}
